body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  height: 100%;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensure the container takes at least the full height of the viewport */
  text-align: center;
}

.rvmbtn {
    display: inline-block;
  padding: 1rem 1.5rem;
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
  margin-left: 20px;
}
.rvmbtn:hover {
    background: linear-gradient(135deg, #0056b3, #003a7d);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.rvmbtn:active {
    background: linear-gradient(135deg, #003a7d, #00224d);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .checkoutbtn {
    display: inline-block;
  padding: 0.75rem 1.5rem;
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
  }
  .checkoutbtn:hover {
    background: linear-gradient(135deg, #0056b3, #003a7d);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.checkoutbtn:active {
    background: linear-gradient(135deg, #003a7d, #00224d);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .Cart {
    font-size: 50px;
  }
  @media (max-width: 480px) {
    .navbar .brand {
      font-size: 1.2rem;
    }
  
    .product-photos {
      max-width: 60px;
    }
  
    .rvmbtn, .checkoutbtn {
      padding: 0.4rem 0.8rem;
      font-size: 0.8rem;
    }
  }
  .product-photos {
    max-width: 400px;
    height: 300px;
    list-style-type: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
 
 