.rvmbtn {
    display: inline-block;
  padding: 0.75rem 1.5rem;
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
}
.rvmbtn:hover {
    background: linear-gradient(135deg, #0056b3, #003a7d);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.rvmbtn:active {
    background: linear-gradient(135deg, #003a7d, #00224d);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .checkoutbtn {
    display: inline-block;
  padding: 0.75rem 1.5rem;
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
  }
  .checkoutbtn:hover {
    background: linear-gradient(135deg, #0056b3, #003a7d);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.checkoutbtn:active {
    background: linear-gradient(135deg, #003a7d, #00224d);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }