/* Global Styles */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navigation Bar */
.navbar {
  background-color: #007bff;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  color: white;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav-link:hover {
  text-decoration: underline;
}

.main{
    display: flex;
    flex-direction: row;
}

/* Landing Page */
.landing-page {
  padding: 2rem;
  text-align: center;
  width: 500px;
  margin-left: 7rem;
  margin-top: 5rem;
}

.main-heading {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.sub-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.25rem;
  color: #6c757d;
  margin-bottom: 1.5rem;
}

.get-started-btn {
  background-color: #007bff;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
}

.get-started-btn:hover {
  background-color: #007bff;
}

/* Illustration */
.illustration {
  flex: 1;
  display: flex;
  flex-direction: row; /* Ensure items are in a row */
  justify-content: right; /* Center items horizontally */
  align-items: flex-start; /* Center items vertically */
  padding: 2rem;
}

.illustration img {
    max-width: 100%;
    height: auto;
    max-height: 400px; /* Adjust as needed */
    margin-right: 2rem; /* Adjust margin to create space between text and image */
    align-content:flex-start;
   }

/* Footer */
.footer {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}
